/* Css preset */
*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: montserrat,sans-serif;
    font-weight: 650;
}
/* .line{
    background-color: rgb(241, 240, 240);
    height: 0.05em;    
} */
.line{
    background-color: #348ac7;
    width: 7.5em;
    height:0.25em;
    display: table;
    margin: 0 auto;
    margin-top: 1.5em;
}
.line-left{
    background-color: #348ac7;
    width: 7.5em;
    height:0.25em;
    float: left;
    margin-left: 1.7em;
    margin-top: 1.5em;
}
.line-right{
    background-color: #348ac7;
    width: 7.5em;
    height:0.25em;
    float: right;
    margin-top: -20em;
    margin-right: 28.5em;
}

/* -----------------------------------------Navbar--------------------------------------------------- */

.navbar{
    background-color: rgba(0,0,0);
    width: 100vw;
    height: 3.5em;
    position: fixed;
}
.nav-logo{
    font-size: 2em;
    color: #fff;
    font-weight:800;
}
.nav-u-list{
    margin: 0;
    float: right;
    padding-right: 2em;
    padding-top: 0.8em;
}
.nav-list
{
    list-style: none;
    display: inline;
}
.nav-list-a{
    text-decoration:none;
    color: white;
    /* padding-left: 0.8em; */
}
.nav-list-a-active{
    text-decoration: none;
    color: white;
    border-bottom: 0.19em solid #348ac7;
    border-radius: 0.1em;
}
.nav-list-a:hover{
    border-bottom: 0.19em solid #348ac7;
    border-radius: 0.1em;
}
.nav-dropdown{
    background-color: #348ac7;
    width: 10em;
    height: 2.5em;
    padding: 0.1em;
    margin-left: 20.6em;
    display: none;
}
.nav-dropdown-ico{
    color: white;
    font-size: 0.5em !important;
    padding: 0.5em;
    margin-top: -1em !important;
}
.fall-up-ico{
    color: white;
}
#fall-up-ico{
    font-size: 0.5em !important;
    margin-left: -0.3em;
    margin-top: -1em;
    display: none;
}
.nav-dropdown ul{
    margin-top: 0.3em;
    padding: 0.3em;
}

/* --------------------------media (max-width:500px)- sidebar("Responsive")---------------------------------*/

.nav-res-list-ico{
    color: rgb(255, 255, 255);
    float: right;
    margin-top: -1.3em;
    font-size: 1.5em !important;
    margin-right: 0.5em;
}
.nav-res-sidebar{
    background-color: rgb(17, 17, 17);
    width: 70vw;
    height: 100vh;
    margin-top: 0.8em;
    float: right;
    display: none;
}
.nav-res-closebtn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.5em;
    float: right;
    padding-right: 0.28em;
    margin-top: -1.5em;
}
.nav-res-u-list span{
    padding-top: 3em;
}
.nav-res-list,.nav-res-list-active{
    list-style: none;
    font-size: 1.2em;
    font-family: varela round,sans-serif;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1.2em;
    border-bottom:0.02em solid rgb(0, 0, 0);
}
.nav-res-list-active{
    background-color: #0782da;
}
.nav-res-list:hover{
    background-color:#0782da;
    color: #fff;
    text-align: center;
}
.nav-res-list-a{
    text-decoration: none;
    color: white;
    margin-top: 0.3em;
}
.nav-res-list-a-active{
    text-decoration: none;
    background-color:#0782da;
    color: white;
    margin-left: 4em;
}
.nav-res-sidebar button{
    background-color: #45a7ec;
    color: #fff;
    width: 2.8em;
    height: 3em;
    border: 0 transparent;
    border-radius: 0.3em;
    font-size:1.2em !important;
    float: right;
    margin-top: 1.5em;
    margin-right: 0.9em;
}
.nav-res-sidebar button:hover{
    background-color: #0782da;
    color: #fff;
}

/* ------------------------------------------------Home-page-------------------------------------------- */

.home{
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/1.jpg"); */
    
    height: 100vh;
}
.home-mid{
    padding-top: 30vh;
    /* background-color: rgba(0,0,0,0.1); */
}
/* .home-mid span{
    color: rgb(150, 144, 144);
} */
.home-heading{                                                                  
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 4em;
}
.home-para{
    color: #fff;
    /* display: table; */
    margin: 2em 5em ;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    /* font-size: 1.5em; */
}
button:focus, input:focus{
    outline: 0;
}
.home-btn,.home-btn-2{
    background-color: #348ac7;
    color:white;
    width: 10.5em;
    height: 3.5em;
    border: 0 transparent;
    border-radius: 0.3em;
    font-size:1em;
    margin: 0 0.5em;
}
.home-btn-2{
    background-color: white !important;
    color: #000 !important;
}
.home-btn:hover{
    background-color: #0782da;
    color: #fff;
}
.home-btn-2:hover{
    background-color: #0782da !important;
    color: #fff !important;
}

.home-mid-btn{
    display: table;
    margin: 4em auto;
}
.home-res-ico{
    display: none !important;
}

/* -----------------------------------------------About-Page-------------------------------------*/

.about{
    /* background-image: linear-gradient(to right, #7474bf, #667ac3, #5680c6, #4685c7, #348ac7);
    color:#fff; */
    background-color: #fff;
    color: #000;
    /* height: 100vh; */
    margin-top: 3.5em;
}
.about h1, .team h1{
    text-align: center;
    font-size:3.5em !important;
    padding-top: 2.7em;  
}
.about-card{
    width: 90vw;
    padding: 1em;
    display: table;
    margin: 7em auto 0 auto;
    padding-bottom: 5em;
    text-align: center;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .serv-card-1, .serv-card-2, .serv-card-3, .serv-card-4, .serv-card-5, .serv-card-6, .price-card-1, .price-card-2, .price-card-3, .team-card-1, .team-card-2, .team-card-3{
    background-color: rgb(255, 255, 255);
    width: 26vw;
    height: 40vh;
    display:inline-block;
    border: rgb(211, 211, 211) solid 1px;
    border-radius: 1%;
}
.card-2, .card-5{
    margin: 0 2.6em 0 2.6em;
}
.card-4, .card-5, .card-6{
    margin-top: 3em;
    margin-bottom: 3em;
}
.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover, .card-6:hover, .serv-card-1:hover, .serv-card-2:hover, .serv-card-3:hover, .serv-card-4:hover, .serv-card-5:hover, .serv-card-6:hover{
    background-color: #333;
    color: #ffffff;
}
/* .card-1-content{
} */
.card-1-ico, .card-2-ico, .card-3-ico, .card-4-ico, .card-5-ico, .card-6-ico{
    font-size: 2.5em !important;
    color: #348ac7 !important;
    margin-top: 1em;
    font-weight: 550 !important;
}
.about-card p{
    margin-top: 0.3em;
    font-size: 2em;
    font-weight: 700;
}
.about-card-para{
    color: rgb(136, 136, 136);
    font-size: 0.5em !important;
    word-break: break-all;
    margin-top: 3em;
    padding: 2em !important;
    
}
.about-mid{
    background-image: -webkit-linear-gradient(135deg, rgb(143, 143, 143) 35%, rgb(243, 243, 243) 35%);
    min-height: 45em;   
}
.about-mid img{
    margin-top: 8em;
    margin-right: 1.2em;
    max-width: 90%;
    float: right;
}
.about-mid h1{
    text-align: left;
    font-size:3.2em !important;
    padding-top: 2.5em; 
    padding-left: 0.5em;
}
.about-mid-para{
    font-size: 1em !important;
    word-break: break-all;
    margin-top: 5em;
    padding: 1.6em;
}

/* ---------------------------------------------------Services-------------------------------------------------*/

.serv-body{
    background-color: rgb(255, 255, 255);
    color: #000;
}
.serv-body h1{
    text-align: center;
    font-size:3.5em !important;
    padding-top: 2.5em;  
}
.serv-card{
    margin-top: 5em;
    width: 90vw;
    padding: 1em;
    display: table;
    margin: 7em auto 0 auto;
    padding-bottom: 5em;
    text-align: center;
}
.serv-card-1, .serv-card-2, .serv-card-3, .serv-card-4, .serv-card-5, .serv-card-6{
    width: 28vw;
    height:34vh;
}
.serv-card-2, .serv-card-5{
    margin: 0 2.3em 0 2.3em;
}
.serv-card-4, .serv-card-5, .serv-card-6{
    margin-top: 2.5em;
}
.serv-card i{
    font-size: 2.3em !important;
    font-weight: 900 !important;
    color: #348ac7;
    float: left;
    margin: 1.5em 0 0 1em;
}
.serv-card h3{
    margin:2.1em 0 0 0.6em;
    float: left;
    font-size: 1.7em;
    font-weight: 780;
    font-family: montserrat,sans-serif !important;
}
.serv-card p{
    color: rgb(170, 169, 169);
    font-size: 1em !important;
    word-break: break-all;
    margin: 6.5em 1em 0 5.5em;
    padding: 1em !important;
    text-align: left;
    line-height: 1.8em;
}
.serv-mid{
    background-image: -webkit-linear-gradient(320deg, rgb(143, 143, 143) 35%, rgb(243, 243, 243) 35%);
    min-height: 45em;   
}
.serv-mid img{
    margin-top: 8em;
    margin-left: 7em;
    max-width: 90%;
}
.serv-mid h1{
    font-size:3.2em !important;
    float: right;
    margin: 3.5em 7.5em 0 0;
}
.serv-mid-para{
    font-size: 1em;
    word-break: break-all;
    margin-top: -15em;
    margin-left:46.5em;
    padding: 1.6em;
}

/* -------------------------------------------------------Price---------------------------------------------- */

.price-body{
    background-color: #fff;
    color: #000;
    /* padding-bottom: 1em; */
}
.price-body h1{
    text-align: center;
    font-size:3.5em !important;
    padding-top: 2.5em; 
}
.price-card, .team-card{
    background-color:#fff;
    display: table;
    margin: 0 auto;
    padding-top: 4em;
}
.price-card-1, .price-card-2, .price-card-3{
    width: 22em;
    height:28em;
    margin-bottom: 10em;
}
.price-card-2{
    margin: 0 2em 0 2em;
}
.price-card h3{
    font-weight: 100 !important;
    font-size: 1.1em !important;
    color: rgb(160, 160, 160) !important;
    text-align: center;
    margin-top: 1.3em;
}
.price-card-1:hover, .price-card-2:hover, .price-card-3:hover{
    background-color: #333;
    color: #fff;
}
.price-card ul{
    text-align: center;
    display: table;
    margin: 0 auto;
    list-style: none;
    color: rgb(160, 160, 160);
    line-height: 1.5em;
}
.circle{
    height: 8.8em;
    width: 8.8em;
    border-radius: 50%;
    border: #6195ff solid 0.1em; 
    text-align: center;
    display: table;
    margin: 1.8em auto;
}
.circle i{
    font-size: 2.1em !important;
    margin-top: 1.2em;
}
.circle span{
    font-family: montserrat,sans-serif !important;
    font-size: 0.9em;
    margin-left: 0.1em;
    margin-bottom: 0.1em;
}
.price-btn{
    background-color:#fff;
    color: #6195ff;
    border: #6195ff solid 0.1em;
    border-radius:0.26em;
    padding: 1em 2.2em 1em 2.2em;
    font-weight: 400 !important;
    font-size: 1em;
    display: table;
    margin:2em auto;
}
.price-btn:hover{
    background-color: #6195ff;
    color: #fff;
}
.price-mid{
    background-color: rgba(51, 51, 51, 0.596);
}
.price-mid ul{
    /* display: inline-block; */
    list-style: none;
    text-align: center;
}
.price-mid li{
    display: inline-block;
    padding:0 7.2em 0 7.2em;
    margin: 4.8em 0 4.8em 0;
    color: #fff;
    line-height: 3em;
}
.price-mid i{
    font-size: 3em !important;
    color: #6195ff !important;
}
.price-mid h1{
    font-weight: 800 !important;
}
.price-mid p{
    font-weight: 500 !important;
}

/* ---------------------------------------------------Team-Page -----------------------------------------------*/

.team{
    background-color: rgb(255, 255, 255);
    color: #000;
}
.team-card-1, .team-card-2, .team-card-3{
    width: 25vw;
    height: 30em;
    background-color:#f4f4f4;
    color: #fff;
    border: none;
    margin-bottom: 6em;
}
.team-card-1:hover, .team-card-2:hover, .team-card-3:hover{
    background-color: #333;
    color: #fff !important;
}
.team-card-2{
    margin: 0 4em 0 4em;
}
.profile-1, .profile-2, .profile-3{
    background-image: url("./img/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    width: 20vw;
    height: 20em;
    display: table;
    margin: 0 auto;
    margin-top: 2.7em;
}
.team h1{
    text-align: center;
    font-size: 3em !important;
    font-weight: 600 !important;
    color: #000;
    padding-top: 2em;
}
.team p{
    text-align: center;
    color: #868f9b;
    margin-top: 0.4em;
}
.team h3{
    text-align: center !important;
    font-size: 2em;
    margin-top: 0.5em;
    color: #000;

}
.team-mid{
    background-color: rgba(51, 51, 51, 0.473);
    height: 100vh;
}

/* -------------------------------------------------Contact Us------------------------------------------------- */
.cont{
    background-color: rgb(250, 250, 250);
    color: #fff; 
}
.cont h1{
    text-align: center;
    font-size: 2.5em !important;
    font-weight: 600 !important;
    color: #000;
    padding-top: 1.8em;
}
.cont ul{
    margin: 0;
    list-style: none;
    text-align: center;
}
.cont li{
    display: inline-block;
    padding:0 9em 0 9em;
    margin: 6em 0 4.8em 0;
}
.cont-list{
    display: table;
    margin: 0 auto;
}
.cont i{
    font-size: 2.7em !important;
    color: #6195ff !important;
}
.cont h3{
    text-align: center;
    font-weight: 750 !important;
    color: #000;
    padding-top: 0.8em;
}
.cont p{
    font-size: 1.2em;
    color: #868f9b;
    padding-top: 0.5em;
}
.cont-form{
    display: table;
    margin: 0 auto;
    padding-bottom:4em;
}
.col-50, .col-100, .txt-100{
    width: 30em;
    height: 3.2em;
    display: inline-block;
    padding-left: 1em;
    margin:0 1em 0 1em;
    border: none;
    border-radius: 0.2em;
    background-color: rgb(231, 231, 231);
}
.col-100, .txt-100{
    margin:1em 1em 1em 1em;
    width: 63.4em;
}
.txt-100{
    padding:0.5em 0 0 1em;
    height: 6em;
}
.cont-btn{
    display: table;
    margin: 1em auto;
    border: solid #6195ff 0.1em;
    border-radius: 0.3em;
    width: 12vw;
    height: 7vh;
    background-color: #0782da;
    color: #fff;
    font-size: 0.8em;
}
.cont-btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
input[type=text]:focus {
    border: 0.1em solid #0782da ;
}







/* Responsive */

@media (max-width:600px){
    /* .navbar{
        display: none;
    } */
    .line{
        width: 3.9em;
        height: 0.29em;
        margin-top: 1.2em; 
    }
    .nav-logo{
        padding-left: 0.4em;
        font-weight:800 !important;
    }
    .nav-u-list{
        display:none !important;
    }
    .navbar{
        background-color: rgba(255, 255, 255);
        border-bottom: solid rgba(0, 0, 0, 0.445) 0.05em;
    }
    .nav-logo{
        color: rgb(0, 0, 0);
        font-weight: 100;

    }
    .nav-res-list-ico{
        color: rgb(0, 0, 0);
    }
    .nav-res-closebtn{
        color: #000;
    }
    .home-heading{
        font-size: 2.6em;
    }
    .home-mid{
        padding-top: 15vh;
    }
    .home-para{
        margin-top: 1em;    
        background-color: rgba(0, 0, 0, 0.5); 
        /* width: 90vw; */
        display: table;
        margin: 2em 1em 0.5em 1em;
        /* font-size: 1em;       */
    }
    .home-btn{
        display: block;
        margin: auto;
    }
    .home-btn-2{
        display: none;
    }
    .home-res-ico{
        display: block !important;
        color: #fff;
        text-align: center;
        font-size: 2em !important;
        padding-top: 1em;
    }
    .about h1{
        font-size: 2.5em !important;
        color: #000; 
        display:table;
        margin: 0 1.2em auto;
    }
    .card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
        width: 80vw;
        height:15em;
        display: table;
        margin: 0 auto 2em auto;
    }
    .about-card-para{
        margin-top: 1.9em;
    }
    .about-mid{
        background-image: -webkit-linear-gradient(90deg, rgb(143, 143, 143) 3%, rgb(243, 243, 243) 35%);
        min-height: 50em;   
    }
    .about-mid img{
        margin-top: 3em;
        margin-bottom: 2em;
    }
    .about-mid h1{
        font-size: 2em !important;
        text-align: left;
    }
    .about-mid-para{
        font-size: 0.6em;
        margin-top: 2em;
    }
    .serv-body h1, .price-body h1, .team h1, .cont h1{
        font-size: 2.5em !important;
        color: #000; 
        display:table;
        margin: 0 auto;
        font-weight: 650;
    }
    .line-side{
        width: 5em;
        margin-left:1.1em;
        margin-top: 1em;
    }
    .serv-card-1, .serv-card-2, .serv-card-3, .serv-card-4, .serv-card-5, .serv-card-6, .price-card-1, .price-card-2, .price-card-3, .team-card-1, .team-card-2, .team-card-3{
        width: 90vw;
        height:15em;
        display: table;
        margin: 0 auto 2em auto;  
    }
    .serv-card i{
        font-size: 2.1em !important;
        margin: 1.1em 0 0 0.5em;
    }
    .serv-card p{
        margin: 5em 1em 0 4em;
    }
    .serv-mid{
        background-image: -webkit-linear-gradient(90deg, rgb(143, 143, 143) 3%, rgb(243, 243, 243) 35%);
        min-height: 50em;   
    }
    .serv-mid img{
        display: table;
        margin: 0 auto;
        padding-top: 2.7em;
        max-width: 75%;
    }
    .serv-mid h1{
        font-size: 2em !important;
        text-align: left;
        margin: 2em 4.8em 0 0 !important;
    }
    .serv-mid-para{
        margin: 8em 0 0 1.3em !important;
    }
    .line-right{
        background-color: #348ac7;
        width: 3em;
        height:0.25em;
        float: left;
        margin:1em 0 0 3em;
    }
    .price-card-1, .price-card-2, .price-card-3{
        height: 28.5em;
        margin-bottom: 6em;
    }
    .price-mid li{
        padding:0 5em 0 5em;
        margin: 1em 0 1em 0;
        line-height: 3em;   
    }
    .profile-1, .profile-2, .profile-3{
        width: 15em;
        height: 15em;
        margin-bottom:0;
    }
    .price-mid{
        padding-bottom: 4em;
    }
    .team-card-1, .team-card-2, .team-card-3{
        height: 25em;
    }
    .team h1{
        margin-top: -1.2em;
    }
    .team{
        padding-bottom: 4em;
    }
    .cont li{
        padding:0;
        margin: 4em 0 2.5em 0;
    }
    .col-50, .col-100, .txt-100{
        display: table;
        margin:0 auto;
        width: 70vw;
        margin-bottom: 1em;
    }
    .cont-btn{
        width:10em;
        margin-top: 2.5em;
    }


}
@media (min-width:600px){
    .nav-logo{
        padding-left:1em;
        display: inline;
    }
    .nav-res-sidebar{
        display: none;
    }
    .nav-res-list-ico{
        display:none !important;
    }
    .home-para{
        margin-left: 2em;
        margin-right: 2em;
    } 
}

