/* Css preset */
*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
}

/* -----------------------------------------Navbar--------------------------------------------------- */

.navbar{
    background-color: rgba(0,0,0,0.1);
    width: 100vw;
    height: 3.5em;
    position: fixed;
}
.nav-logo{
    font-size: 2em;
    color: #fff;
    font-weight:550;
}
.nav-u-list{
    margin: 0;
    float: right;
    padding-right: 2em;
    padding-top: 0.8em;
}
.nav-list
{
    list-style: none;
    display: inline;
}
.nav-list-a{
    text-decoration:none;
    color: white;
    /* padding-left: 0.8em; */
}
.nav-list-a-active{
    text-decoration: none;
    color: white;
    border-bottom: 0.19em solid #348ac7;
    border-radius: 0.1em;
}
.nav-list-a:hover{
    border-bottom: 0.19em solid #348ac7;
    border-radius: 0.1em;
}
.nav-dropdown{
    background-color: #348ac7;
    width: 10em;
    height: 2.5em;
    padding: 0.1em;
    margin-left: 20.6em;
    display: none;
}
.nav-dropdown-ico{
    color: white;
    font-size: 0.5em !important;
    padding: 0.5em;
    margin-top: -1em !important;
}
.fall-up-ico{
    color: white;
}
#fall-up-ico{
    font-size: 0.5em !important;
    margin-left: -0.3em;
    margin-top: -1em;
    display: none;
}
.nav-dropdown ul{
    margin-top: 0.3em;
    padding: 0.3em;
}

/* --------------------------media (max-width:500px)- sidebar("Responsive")---------------------------------*/

.nav-res-list-ico{
    color: rgb(255, 255, 255);
    float: right;
    margin-top: -1.3em;
    font-size: 1.5em !important;
    margin-right: 0.5em;
}
.nav-res-sidebar{
    background-color: rgb(17, 17, 17);
    width: 70vw;
    height: 100vh;
    margin-top: 0.8em;
    float: right;
    display: none;
}
.nav-res-closebtn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.5em;
    float: right;
    padding-right: 0.28em;
    margin-top: -1.5em;
}
.nav-res-u-list span{
    padding-top: 3em;
}
.nav-res-list,.nav-res-list-active{
    list-style: none;
    font-size: 1.2em;
    font-family: varela round,sans-serif;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1.2em;
    border-bottom:0.02em solid rgb(0, 0, 0);
}
.nav-res-list-active{
    background-color: #348ac7;
}
.nav-res-list:hover{
    background-color:#5bb3f1;
    color: #fff;
    font-size: 1.3em;
}
.nav-res-list-a{
    text-decoration: none;
    color: white;
    margin-top: 0.3em;
}
.nav-res-list-a-active{
    text-decoration: none;
    background-color:#348ac7;
    color: white;
    margin-top: 0.3em;
}

/* ------------------------------------------------Home-page-------------------------------------------- */

.home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/1.jpg");
    background-size: cover;
    height: 100vh;
}
.home-mid{
    padding-top: 30vh;
    /* background-color: rgba(0,0,0,0.1); */
}
/* .home-mid span{
    color: rgb(150, 144, 144);
} */
.home-heading{                                                                  
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 4em;
}














/* Responsive */

@media (max-width:500px){
    /* .navbar{
        display: none;
    } */
    .nav-logo{
        padding-left: 0.4em;
        font-weight:650;
    }
    .nav-u-list{
        display:none !important;
    }
    .navbar{
        background-color: rgba(255, 255, 255);
    }
    .nav-logo{
        color: rgb(0, 0, 0);
    }
    .nav-res-list-ico{
        color: rgb(0, 0, 0);
    }
    .nav-res-closebtn{
        color: #000;
    }
    .home-heading{
        font-size: 2.8em;
    }
    .home-mid{
        padding-top: 18vh;
    }
}
@media (min-width:500px){
    .nav-logo{
        padding-left:1em;
        display: inline;
    }
    .nav-res-sidebar{
        display: none;
    }
    .nav-res-list-ico{
        display:none !important;
    }
}